.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.input {
  height: 2rem; 
  width: 10rem; 
  padding-left: 0.5rem; 
}

.submit {
  height: 2rem; 
  margin-top: 1rem; 
}

.submit:hover {
  cursor: pointer; 
}
